[defaults]
inventory = inventory/lab.ini
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
callback_result_format = yaml
timeout = 60
interpreter_python = auto_silent

[persistent_connection]
command_timeout = 300
connect_timeout = 300
